.transparent{
  background-color: transparent;
}


/* GENERAL STYLE + TYPING EFFECT */

h1 {
    font-family: 'Chivo Mono', Calibri;
    top: 10px;
   
    

    font-size: 50px;
    text-align: center;
    overflow: hidden; /* Can't see words before they're typed */
    border-right: .15em solid #CD6688; /* The typwriter cursor */
    white-space: nowrap; 
    margin: 0 auto; /* Scrolling */ 
    letter-spacing: .15em; 
 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
              
  }
  
  /* typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 40% }
  }
  
  /* cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #CD6688; }
  
  }
  
/* GENERAL STYLE */

  .subheading h4 {
    text-align: center;
    font-family: 'Chivo Mono', Calibri;
  }

  .subsubheading h2 {
    text-align: center;
    font-family: 'Chivo Mono', Calibri;
  }

  h2 {
    text-align: center;
    font-family: 'Chivo Mono', Calibri;
    background-color: transparent;
  }

  p {
    text-align: center;
    font-size: 25px;
    font-family: Calibri;
    padding-top: 50px;
    padding-right: 500px;
    padding-bottom: 50px;
    padding-left: 500px;
   
  }

/* ----------------------------------- */

/* SCROLLBAR CONFIG */


/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 255, 255) rgb(144, 146, 172);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 100px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(144, 146, 172);
  border-radius: 60px;
  border: 3px solid rgb(255, 255, 255);
}

/* ----------------------------------- */

/* PARALAX STUFF */

.parallax-window {
  min-height: 400px;
  background: transparent;
}


html, body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background: transparent;
}

/* ----------------------------------- */

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: fixed;
  flex-direction: column;
}
.page-header, .page-footer {
  flex-grow: 0;
  flex-shrink: 0;
}
.page-body {
  flex-grow: 1;
}

/* ----------------------------------- */

/* FADE IN AND OUT ANIMATION CSS */




/* ----------------------------------- */

/* FOOTER INFO */

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #7A316F;
  color: white;
  text-align: left;
  font-family: Calibri;
  min-height: 10vh;
}

/* ----------------------------------- */
