.h1type h1 {
    font-family: 'Chivo Mono', Calibri;
    position: sticky; /* I want this heading to stick at the top of the page for a bit while you scroll down */
    top: 10px;
    font-size: 50px;
    text-align: center;
    overflow: hidden; /* Can't see words before they're typed */
    border-right: .15em solid #025464; /* The typwriter cursor */
    white-space: nowrap; 
    margin: 0 auto; /* Scrolling */ 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 40% }
  }
  
  /* cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #025464; }
  
  }

  
  .subheading h4 {
    text-align: center;
    font-family: 'Chivo Mono', Calibri;
  }


  .subsubheading h2 {
    text-align: center;
    font-family: 'Chivo Mono', Calibri;
  }


  h2 {
    text-align: center;
    font-family: 'Chivo Mono', Calibri;
  }



  p {
    text-align: center;
    font-family: Calibri;
  }




/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 255, 255) rgb(144, 146, 172);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 100px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(144, 146, 172);
  border-radius: 60px;
  border: 3px solid rgb(255, 255, 255);
}
