.h1type h1 {
    font-family: 'Chivo Mono', Calibri;
    position: sticky; /* I want this heading to stick at the top of the page for a bit while you scroll down */
    top: 10px;
    font-size: 50px;
    text-align: center;
    overflow: hidden; /* Can't see words before they're typed */
    border-right: .15em solid #E8AA42; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Scrolling effect */ 
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  
  }

  
  .subheading h4 {
    text-align: center;
    font-family: 'Chivo Mono', Calibri;
  }


  